body {
    color: #222;
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
    background-color: #006dad;
}

.main_content {
    background: #fff;
    margin: 0;
    padding: 0 0 50px;
}


.hero {
    background-color: #0073b7;
    color: white;
    font-size: 18px;

    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.hero a {
    color: white;
    text-decoration: underline;
}

.hero-inner {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.target {
    flex: 1 100px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    background: #02377c;
    margin: 20px;

}

.daily-meals {
    flex: 1;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    background: #94baea;
    margin: 20px;
    min-width: 50%;

}

/*form.macros-form > * {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #c9c9c9;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 950px;
}

.grid-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    background-color: #c9c9c9;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 950px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.targets {
    color: #ebebeb;
    background-color: #0073b7;
    padding: 50px 0;
}

.targets > h2 {

    color: white;
    font-size: 2em;


    text-align: center;
}

.target-carbs {
    grid-column: 1 / span 2;
}

.target-proteins {
    grid-column: 3 / span 2;
}

.target-fats {
    grid-column: 5 / span 2;
}

.filter-title {
    grid-column: 1 / span 6;
    margin: 15px auto;
    color: black;
}
.allergies {
    grid-column: 1 / span 3;
    min-width: 170px;
}

.dislikes {
    grid-column: 4 / span 3;
    min-width: 170px;
}

.allergies, .dislikes {
    background: #4e555b;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 10px;
    padding: 20px;
}



.btn-generate {
    flex-basis: 100%;
    margin: 25px 35% 10px 35%;
    grid-column: 1 / span 6;
}

.daily-meals {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.meal {
    grid-column: 1
}

.meal-carbs {
    grid-column: 2;
}

.meal-proteins {
    grid-column: 3;
}

.meal-fats {
    grid-column: 4;
}

.meal-calories {
    grid-column: 5;
}

.breakfast {
    grid-row: 2;
}

.lunch {
    grid-row: 3;
}

.dinner {
    grid-row: 4;
}

.meal-total {
    grid-row: 5;
}

.meal-remaining {
    grid-row: 6;
}

.meal.meal-total, .meal.meal-remaining {
    text-align: right;
    padding-right: 10px;
    border-top: none;
}


.meal-total {
    grid-row: 6;
    border-top: 4px double #212121;
}

.meal-remaining {
    grid-row: 7;
}

.pypi-stats {
    padding: 10px 0;
    background-color: #ececec;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin-bottom: 30px;
}

.label {
    font-weight: bolder;
    font-size: large;
}

.stat-container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.stats {
    background-color: #c9c9c9;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bolder;
    font-size: x-large;
    padding: 25px;
    margin: 20px auto;
    text-align: center;
    max-width: 70%;
}


input[type=checkbox] {
    --active: #fe9627;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #fe9627;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
    margin-right: 20px;
}

input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
}

input[type=checkbox].switch:checked {
    --ab: var(--background);
    --x: 17px;
}

input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
}

input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}

input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

ul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
}

ul li {
    margin: 16px 0;
    position: relative;
}


footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

footer a {
    color: #2495f2;
}

.error-msg {
    color: #b30000;
}

.page-core {
    padding: 20px;
}